@model proiect_ProgramareAvansataPePlatforma.NET.Models.Order

@{
    ViewBag.Title = "Plasează Comandă";
    var books = ViewBag.Books as List<proiect_ProgramareAvansataPePlatforma.NET.Models.Book>;
}

<h2>Plasează Comandă</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Comandă</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserId, new { @Value = @User.Identity.Name })
    <div class="form-group">
        @Html.LabelFor(model => model.BookId, "Carte", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("BookId", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br />
            <input type="submit" value="Save" class="btn btn-primary btn-md" />
        </div>
    </div>
    <div>
        <h3>Cărți Disponibile</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titlu</th>
                    <th>Autor</th>
                    <th>Preț</th>
                    <th>Stoc</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in books)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.Price</td>
                        <td>@book.Stock</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}